name: deploy the my-crm-app

on:
 push:
    branches:
      - main

jobs:
  deploy-crm-app:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install
        working-directory: ./my-crm-app

      - name: Build the application
        run: npm run build
        working-directory: ./my-crm-app

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      
      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: ./crm-crm-app
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/my-crm-app:latest

      - name: trivy scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ secrets.DOCKER_HUB_USERNAME }}/my-crm-app:latest

      - name: Deploy to Server via SSH
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.SERVER_HOST }}  
          username: ${{ secrets.SERVER_USERNAME }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: ${{ secrets.SERVER_SSH_PORT }}
          script: |
            docker pull ${{ secrets.DOCKER_HUB_USERNAME }}/my-crm-app:latest
            docker stop my-crm-app || true
            docker rm my-crm-app || true
            docker service create --name my-crm-app -p 8888:80 ${{ secrets.DOCKER_HUB_USERNAME }}/my-crm-app:latest
            docker service update --image ${{ secrets.DOCKER_HUB_USERNAME }}/my-crm-app:latest my-crm-app || docker service create --name my-crm-app -p 8888:80 ${{ secrets.DOCKER_HUB_USERNAME }}/my-crm-app:latest
